{% extends 'base.html' %}
{% import "macros/form.html" as macros %}

{% block app_content %}

<div id='main_content' class="containter">
    <h3>Calculadora de Aluguel</h3>
    <form method="POST" action="{#{{url_for('api.get_price')}}#}">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-sm">
                {{macros.render_field(form.bedrooms,class='form-control')}}
            </div>
            <div class="col-sm">
                {{macros.render_field(form.bathrooms, class='form-control')}}
            </div>
            <div class="col-sm">
                {{macros.render_field(form.parking, class='form-control')}}
            </div>
            <div class="col-sm">
                {{macros.render_field(form.area, class='form-control')}}
            </div>

            {{macros.render_field(form.neighborhood, class='form-control')}}

        </div>
        <br>
        <div class="row">
            {{ macros.render_field(form.submit, class="btn btn-primary", nolabel=True)}}

        </div>
    </form>
</div>
<br>
<br>
<!-- {% if predict %}

<div class="p-3 mb-2 bg-success text-white">Valor estimado do apartamento: {{predict}}</div>
{% endif %} -->
<div id='result' class="p-3 mb-2 bg-success text-white rounded" style="display: none;"></div>
{% endblock %}

{% block scripts %} {{ super() }}
<script type="text/javascript">
    $('form').submit(function (event) {
        var form = $(this);
        event.preventDefault()
        $.ajax({
            url: "{{url_for('api.get_price')}}",
            type: "POST",
            data: form.serialize(),
            success: function (data) {
                $('#result').show()
                $('#result').empty()
                $('#result').append('Valor estimado do aluguel do imóvel é de: ' 
                    + data['valor'] + "<br>" + 'Os dados estão ok? <a href=' 
                    + data["url_validate"]+' class="link-dark">Sim</a>')
                
            }
        });
    })
</script>
{% endblock %}